@import "tailwindcss";

@theme {
  --color-btn: #029cfd;

  /* Input */
  --color-labelColor: #02b1fd;
  --color-borderColor: #02b1fd;
  --color-iconColor: #abc4ff;
  --color-focusColor: #029cfd;
  --color-helperTextColor: #50bbe9;
}
